{% extends "base.html" %}
{% block content %}
<center>
    <a href="{% url 'Warn' %}">
        <div class="alert alert-warning" role="alert">Important tips Please read it before use</div>
    </a>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="story">input your text:</label>

        <textarea id="story" name="textarea" rows="" cols="50"></textarea>
        <label for="RANDkey">*your random key:</label>
        <input type="text" name="RANDkey" id="RANDkey">
        <br>
        <small>If you want to change keys with a number you want, fill this field with a number between<span
                style="color: crimson;">(1,10)</span><br>Now, if you input a number higher than 10 or smaller than 1, it
            means you didn't use a random key.</small>
        <hr>
        <div class="mb-3" style="margin-left: 25%;margin-right: 25%;">
            <label for="formFileSm" class="form-label">Or use upload file(just .txt and 1.5 MB)</label>
            <input name="user_txt_upload" class="form-control form-control-sm" id="formFileSm" type="file">
        </div>


        <button type="submit" class="btn btn-primary mb-3">Encode</button>

    </form>
    <br>


</center>

</html>
{% endblock %}